* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Century Gothic", serif;
}

.wrapper {
    max-width: 1000px;
    margin: 20px auto;
}
.content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
}

.table {
    width: 70%;
}

tr, td, th {
   text-align: center;
   vertical-align: middle;
   font-weight: normal;
}
thead th {
    font-weight: bold;
}

form input {
    padding: 5px;
}

.btn {
    color: white;
    background-color: #212529;
    border: none;
}
.btn:hover {
    color: white;
    font-weight: bold;
}

.div-content {
    display: flex;
    justify-content: center;
}

.accordion-body {
    display: table-caption;
}
