* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Century Gothic", serif;
}
.wrapper {
    max-width: 1000px;
    margin: 20px auto;
}
.content {
    display: block;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}
table {
    width: 80%;
}
