<div th:insert="~{base :: head}"></div>
<div th:insert="~{base :: navbar}"></div>
<div class="wrapper">
    <div class="content">
        <h1>Depozyt</h1>
        <hr>
        <br>
        <form th:action="@{/deposit/{id}(id=${ticket.ticketToBuyID})}" method="post">
            <h4>Aktualny stan konta</h4>
            <span>
                <h5 th:text="${user_bank_balance} + ' PLN'"></h5>
            </span>
            <br>
            <div class="div-content m-2 mt-4">
                <input type="number" min=5 name="amount" placeholder="Kwota"/>
                <p class="m-2">PLN</p>
            </div>
            <br>
            <input class="btn" type="submit" value="Wpłać"/>
        </form>
    </div>
</div>