<div th:insert="~{base :: head}"></div>
<div th:insert="~{base :: navbar}"></div>
<div class="wrapper">
    <div class="content">
        <div class="card bg-light mb-3">
            <div class="card-header"><h1 th:text="${event.name}"></h1></div>
            <div class="card-body">
                <h2 th:text="${event.organizer}"></h2>
                <h3 th:text="${event.eventDate}"></h3>
                <h3 th:text="${event.eventStart} + ' - ' + ${event.eventEnd}"></h3>
            </div>
        </div>

        <!-- tickets to buy -->
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Sektor 1
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-hover">
                            <thead>
                            <tr class="table">
                                <th scope="col">Miejsce</th>
                                <th scope="col">Rząd</th>
                                <th scope="col">Cena</th>
                                <th scope="col">Kup</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ticket : ${ticketsSector1}">
                                <th th:each="seat : ${seatsSector1}" th:if="${seat.seatID == ticket.seatID}" th:text="${seat.seatNumber}" scope="row"></th>
                                <th th:each="seat : ${seatsSector1}" th:if="${seat.seatID == ticket.seatID}" th:text="${seat.rowNumber}" scope="row"></th>
                                <th th:text="${ticket.price} + ' PLN'" scope="row"></th>
                                <td><a th:href="@{/ticket/{id}(id=${ticket.ticketToBuyID})}" class="btn btn-secondary">+</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Sektor 2
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-hover">
                            <thead>
                            <tr class="table">
                                <th scope="col">Miejsce</th>
                                <th scope="col">Rząd</th>
                                <th scope="col">Cena</th>
                                <th scope="col">Kup</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ticket : ${ticketsSector2}">
                                <th th:each="seat : ${seatsSector2}" th:if="${seat.seatID == ticket.seatID}" th:text="${seat.seatNumber}" scope="row"></th>
                                <th th:each="seat : ${seatsSector2}" th:if="${seat.seatID == ticket.seatID}" th:text="${seat.rowNumber}" scope="row"></th>
                                <th th:text="${ticket.price} + ' PLN'" scope="row"></th>
                                <td><a th:href="@{/ticket/{id}(id=${ticket.ticketToBuyID})}" class="btn btn-secondary">+</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Sektor 3
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-hover">
                            <thead>
                            <tr class="table">
                                <th scope="col">Miejsce</th>
                                <th scope="col">Rząd</th>
                                <th scope="col">Cena</th>
                                <th scope="col">Kup</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ticket : ${ticketsSector3}">
                                <th th:each="seat : ${seatsSector3}" th:if="${seat.seatID == ticket.seatID}" th:text="${seat.seatNumber}" scope="row"></th>
                                <th th:each="seat : ${seatsSector3}" th:if="${seat.seatID == ticket.seatID}" th:text="${seat.rowNumber}" scope="row"></th>
                                <th th:text="${ticket.price} + ' PLN'" scope="row"></th>
                                <td><a th:href="@{/ticket/{id}(id=${ticket.ticketToBuyID})}" class="btn btn-secondary">+</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Sektor 4
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-hover">
                            <thead>
                            <tr class="table">
                                <th scope="col">Miejsce</th>
                                <th scope="col">Rząd</th>
                                <th scope="col">Cena</th>
                                <th scope="col">Kup</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ticket : ${ticketsSector4}">
                                <th th:each="seat : ${seatsSector4}" th:if="${seat.seatID == ticket.seatID}" th:text="${seat.seatNumber}" scope="row"></th>
                                <th th:each="seat : ${seatsSector4}" th:if="${seat.seatID == ticket.seatID}" th:text="${seat.rowNumber}" scope="row"></th>
                                <th th:text="${ticket.price} + ' PLN'" scope="row"></th>
                                <td><a th:href="@{/ticket/{id}(id=${ticket.ticketToBuyID})}" class="btn btn-secondary">+</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>