<div th:insert="~{base :: head}"></div>
<div th:insert="~{base :: navbar}"></div>
<div class="wrapper">
    <div class="content">
        <table class="table table-hover">
            <thead>
            <tr class="table">
                <th scope="col">Wydarzenie</th>
                <th scope="col">Organizator</th>
                <th scope="col">Data</th>
                <th scope="col">Czas trwania</th>
                <th scope="col">Kup bilet</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event : ${events}">
                <th th:text="${event.name}" scope="row"></th>
                <th th:text="${event.organizer}" scope="row"></th>
                <th th:text="${event.eventDate}" scope="row"></th>
                <th th:text="${event.eventStart} + ' - ' + ${event.eventEnd}" scope="row"></th>
                <td>
                    <a th:if="${isLoggedIn}" th:href="@{/event/{id}(id=${event.eventID})}" class="btn btn-secondary">+</a>
                    <a th:if="!${isLoggedIn}" th:href="@{/login}" class="btn btn-secondary">+</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

