<div th:insert="~{base :: head}"></div>
<div th:insert="~{base :: navbar}"></div>
<div class="wrapper">
    <div class="content">
        <h1>Logowanie</h1>
        <div th:if="${param.error}">Nieprawidłowa nazwa użytkownika lub hasło.</div>
        <div th:if="${param.logout}">Wylogowano użytkownika.</div>
        <form th:action="@{/login}" method="post">
            <div class="m-2 mt-4">
                <input type="text" name="username" placeholder="Nazwa użytkownika"/>
            </div>
            <div class="m-2 mb-3">
                <input type="password" name="password" placeholder="Hasło"/>
            </div>
            <input class="btn" type="submit" value="Zaloguj"/>
        </form>
    </div>
</div>