<div th:insert="~{base :: head}"></div>
<div th:insert="~{base :: navbar}"></div>
<div class="wrapper">
    <div class="content">
        <div class="card bg-light mb-3">
            <div class="card-header"><h1 th:text="'Bilet na wydarzenie: ' + ${event.name} + ', ' + ${event.organizer}"></h1></div>
            <div class="card-body">
                <h3> Numer sektora: <span th:text="${ticket.sectorNumber}"></span></h3>
                <h3> Numer rzędu: <span th:text="${seat.rowNumber}"></span></h3>
                <h3> Numer miejsca: <span th:text="${seat.seatNumber}"></span></h3>
                <h3> Cena biletu: <span th:text="${ticket.price} + ' PLN'"></span></h3>
            </div>
            <div class="div-content p-3 pb-5">
                <a th:href="@{/deposit/{id}(id=${ticket.ticketToBuyID})}" class="btn mx-2" id="deposit">Doładuj Konto</a>
                <input class="btn mx-2" id="buyTicket" type="submit" value="Kup Bilet" name="buyTicket"/>
            </div>
        </div>
    </div>
</div>